<nav class="navbar navbar-expand-sm navbar-dark custom-background">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-login">Employee</a>
      <ul class="sub-menu">
        <li class="nav-item">
          <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
        </li>
        <li class="nav-item">
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-login">Department</a>
      <ul class="sub-menu">
        <li class="nav-item">
          <a routerLink="departments" routerLinkActive="active" class="nav-link">Department List</a>
        </li>
        <li class="nav-item">
          <a routerLink="create-department" routerLinkActive="active" class="nav-link">Add Department</a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Move the ml-auto ul outside of the previous ul -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <ng-container *ngIf="!(adminAuthService.isLoggedIn$ | async)">
        <!-- Show login button if admin is not logged in -->
        <a routerLink="/admin-login" routerLinkActive="active" class="nav-link">Login</a>
      </ng-container>

      <ng-container *ngIf="adminAuthService.isLoggedIn$ | async">
        <!-- Show logout button if admin is logged in -->
        <a routerLink="/admin-logout" routerLinkActive="active" class="nav-link">Logout</a>
      </ng-container>
    </li>
  </ul>
</nav>

<div class="text-center">
  <h1 class="text-center" style="color: brown; font-weight: bolder;">{{ title }}</h1>
</div>

<div class="container">
<router-outlet></router-outlet> 
</div>
<footer class="footer">
<div class = "container">
    <span>All Rights are Reserved Vaishnavi #2023 </span>
</div>
</footer>

<style>
.sub-menu {
  display: none;
}

.nav-item:hover .sub-menu {
  display: block;
}
</style>
