.card {
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* You can adjust this value to control the roundness */
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px; /* Adjust this value for hover effect */
}