
<div>
    <input type="text" [(ngModel)]="searchName" placeholder="Enter department name">
    <button (click)="searchDepartmentsByName()">Search</button>
  </div>
<div class = "row">
    <h2 style="color:black; font-style: italic; font-size:30px; text-align: center;">Department List</h2>
</div>

<table class = "attractive-table">
    <thead>
        <tr>
            <th> Department Name</th>
            <th>  Number of Employees</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let department of departments" >
            <td> {{ department.deptName }} </td>
            <td> {{ department.noofemployee}} </td>
          
            <td>
               
                <button (click) = "departmentDetails(department.id)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
