<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/d.jpg'); background-position: center; background-size: cover; background-attachment: fixed; height: 100vh;">
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/admindash">Back</a>
          
           
          </ul>

      
    </div>
</nav>

<div class="container">
<hr>
<hr>
<hr>
<h2 style="color: green; font-weight: bold;text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Appointment List</h2>
<a style="color: rgb(15, 105, 30); font-size: x-large;">Appointments :</a>
<input type="text" name="search" [(ngModel)]=" searchText" placeholder="Search">
<button (click)="searchAppointments()">Search</button>
<br>
  <hr>
<table class="attractive-table">
    <thead class="table-header">
        <tr>
            
            <th> Name </th>
            <th> Age </th>
            <th> Symptoms </th>
            <th> Number </th>
            <th> Action </th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let appointment of appointments">
          
            <td> {{ appointment.name }} </td>
            <td> {{ appointment.age }} </td>
            <td> {{ appointment.symptoms }} </td>
            <td> {{ appointment.number }} </td>

            <td>
                
              <button (click)="deleteAppointment(appointment.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>


            </td>
        </tr>
        
</table>
</div>
</body>