<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/66.jpg'); background-position: center; background-size: cover;">


  <nav style="margin:auto; position: fixed; top: 0; left: 0; right: 0; z-index: 1;" class="navbar navbar-expand-lg bg-dark">
    <a style="color: white;" class="navbar-brand" href="#">HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/appointment-list">Appointments</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/patient-list">Patients</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/doctor-list">Doctors</a>
        </li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/medicine-list">Medicines</a>
        </li>
      </ul>
      <div class="mx-2">
        <button style="margin: 5px;" class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
          <a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a>
        </button>
      </div>
    </div>
  </nav>

  <div class="container text-center" style="padding-top: 100px; padding-bottom: 20px;">
   
    <hr>
    <h1 style="color: darkred; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; text-align: center;">Admin Dashboard</h1>
    <a style="color: rgba(50, 55, 195, 0.685); font-size: x-large; font-weight: bold;">
      <marquee behavior="scroll" direction="left">
        Welcome to Admin Dashboard. Please find the patient list below!!. Click Appointments to view and update Appointments, Click Add Appointment to add new Appointment
      </marquee>
    </a>
    <hr>

    <div class="row justify-content-center">
      <div class="card mx-auto" style="width: 20rem; position: sticky; top: 10px;">
        <img src="assets/appointment.jpg" class="card-img-top" alt="Appointments Image" style="height: 180px; object-fit: cover;">
        <div class="card-body">
          <p style="font-size: 20px; font-weight: bold; text-align: center;">Total Appointments: {{ totalAppointments }}</p>
          <button (click)="fetchTotalAppointments()">Refresh Total</button>
        </div>
      </div>

      <div class="card mx-auto" style="width: 20rem; position: sticky; top: 10px;">
        <img src="assets/patient.png" class="card-img-top" alt="Patients Image" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <p style="font-size: larger; font-weight: bold; text-align: center;">Total Patients: {{ totalPatients }}</p>
          <button (click)="fetchTotalPatients()">Refresh Total</button>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="card mx-auto" style="width: 20rem; position: sticky; top: 10px;">
        <img src="assets/doctor.jpg" class="card-img-top" alt="Doctors Image" style="height: 180px; object-fit: cover;">
        <div class="card-body">
          <p style="font-size: larger; font-weight: bold; text-align: center;">Total Doctors: {{ totalDoctors }}</p>
          <button (click)="fetchTotalDoctors()">Refresh Total</button>
        </div>
      </div>

      <div class="card mx-auto" style="width: 20rem; position: sticky; top: 10px;">
        <img src="assets/medicine.jpg" class="card-img-top" alt="Patients Image" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <p style="font-size: larger; font-weight: bold; text-align: center;">Total Medicines: {{ totalMedicines }}</p>
          <button (click)="fetchTotalMedicines()">Refresh Total</button>
        </div>
      </div>
    </div>
  </div>
</body>
