.table
{
  box-shadow: 10px -10px 5px #CCC;
}




.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
  }

 
    .table-header-row {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #fff;
    }

    

    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .card-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh; /* Adjust the height based on your design preferences */
    }
    .card {
      border: 2px solid #3498db;
      border-radius: 15px;
      width: 400px;
      padding: 20px;
      margin-right: 20px;
      background: linear-gradient(to right, #a6c0fe, #f68084);
      color: #2c3e50;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .doctor-card {
      border: 2px solid #3498db;
      border-radius: 15px;
      width: 400px;
      padding: 20px;
      margin-top: 20px; /* Adjust the margin-top to create space between cards */
      background: linear-gradient(to right, #a6c0fe, #f68084);
      color: #2c3e50;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
    /* Optional: Add styling to your button */
   
    button {
      padding: 10px 30px;
      padding-right: 50px;
      padding-left: 50px;
      font-size: 16px;
      cursor: pointer;
      background-color: #3498db;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      align-content: center;
      
      
    }
    
    button:hover {
      background-color: #2980b9;

    }
    