.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    color: #fff; /* White text */
    text-align: center;
}

.carousel-caption h1 {
    font-size: 3em; /* Adjust the font size */
    margin-bottom: 10px; /* Add some space below the heading */
}

.carousel-caption p {
    font-size: 1.5em; /* Adjust the font size */
}

.custom-btn {
    background-color: #28a745; /* Green background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    padding: 15px 30px; /* Adjust padding */
    font-size: 1.5em; /* Adjust the font size */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none; /* Remove underlines */
    display: inline-block;
    transition: background-color 0.3s; /* Add a smooth transition effect */
}

.custom-btn:hover {
    background-color: #218838; /* Darker green on hover */
}