<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/6.jpg'); background-position: center; background-size: cover; background-attachment: fixed; height: 100vh;">
  <nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
          
    <a style="color: white;" class="navbar-brand" href="#">Employee Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
       <!---- <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/welcome">Back</a>
        </li>-->
           
          </ul>
  
      
    </div>
  </nav>
  <br>
  <br>
<!-- admin-login.component.html -->
<div class="container col-md-6" *ngIf="!(adminAuthService.isLoggedIn$ | async)">
  <h1 style="color: red;text-align: center; font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Admin Login</h1>
  <form (ngSubmit)="loginAdmin()">
    <div class="mb-3">
      <label for="username" class="form-label" style="color: white;">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="admin.username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label" style="color: white;">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="admin.password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
</div>

<!-- Add the following code to conditionally show the logout button -->
<div *ngIf="adminAuthService.isLoggedIn$ | async">
<button (click)="logoutAdmin()">Logout</button>
</div>
</body>