.attractive-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #333; /* Add a border style */
  background-color: lightpink; /* Set the background color */
}

.attractive-table th,
.attractive-table td {
  border: 2px solid #333; /* Add borders to table cells */
  padding: 10px; /* Add padding for spacing */
}

.attractive-table th {
  background-color:#333; /* Header background color */
  color: white; /* Header text color */
  text-align: left; /* Header text alignment */
}

.attractive-table tr:hover {
  background-color: lightgray; /* Set your desired background color on hover */
  cursor: pointer; /* Change the cursor to indicate interactivity */
}

.custom-button {
  background-color: rgb(51, 109, 153);
  color: black;
  /* Add any additional styling you want */
}