<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark"style="background-image: url('assets/heart.jpg');">
    <a style="color: white;" class="navbar-brand" href="#">HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/ourdoctors">Doctors</a>
        </li>
      </ul>
      <div class="mx-2">
        <button style="margin: 5px;" class="btn btn-danger" data-toggle="modal" data-target="#loginModal">
          <a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a>
        </button>
      </div>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <!-- Add more carousel indicators as needed -->
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>Welcome to Our Hospital</h1>
                <p>Your Health, Our Priority</p>
                <a routerLink="/create-appointment" class="btn btn-success btn-lg custom-btn">
                    <h2 style="color: white;">To Book an Appointment Click Here!!</h2>
                </a>
            </div>
        </div>
        <!-- Add more carousel items as needed -->
    </div>

    <div class="container my-4">
      <div class="row mb-2">
          <div class="col-md-6">
            <div class="my-card row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                
                <h3 class="mb-0">Why Choose this Healthcare?</h3>
                
                <p class="card-text mb-auto">Largest network of the worlds finest and brightest medical experts who provide compassionate care using outstanding expertise and advanced technology.</p>
                
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="250" src="assets/12.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="my-card row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success"></strong>
                <h3 class="mb-0">Stop The Stroke!</h3>
              
                <p class="mb-auto">When someone has stroke, we lose crucial braincells, the key to mobility, communication and memory.</p>
              
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets/5.jpg" alt="">

              </div>
            </div>
          </div>
        </div>
      <div class="row mb-2">
          <div class="col-md-6">
            <div class="my-card row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-danger"></strong>
                <h3 class="mb-0">Heart Institute Expertise</h3>
                
                <p class="card-text mb-auto">The Heart Institutes are regarded as one of the best heart hospitals in India, performing a multitude of treatments and procedures in cardiology and cardiothoracic surgery. </p>
                
              </div>
              <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="250" src="assets/6.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="my-card row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-warning"></strong>
                <h3 class="mb-0">Never Sleeps</h3>
                
                <p class="mb-auto">Get the most advance emergency care anywhere in minutes just. For free ambulence service dial "1066"</p>
                
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="assets/33.jpg" alt="">

              </div>
            </div>
          </div>
        </div>
  </div>
  <footer class="container text-center mt-4">
      <p> Contact : 1860 500 1066 </p>
      <p>© 2020-2021 hospitals, Inc. </p>
    </footer>
    
     