<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/1.avif'); background-position: center; background-size: cover; background-attachment: fixed; ">
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
  <a style="color: white;" class="navbar-brand" href="#">Employee Management</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/employees">Back</a>
      </li>
         
        </ul>

    
  </div>
</nav>

<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3 background-color">
      <div class="row">
        <h3 class="text-center" style="color:red; font-style: italic;"> Create Employee </h3>
        <hr />
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
  
            <div class="form-group">
              <label> Employee Id</label>
              <input type="text" class="form-control" id="emp_id" [(ngModel)]="employee.emp_id" name="emp_id">
            </div>
  
            <div class="form-group">
              <label> First Name</label>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
            </div>
  
            <div class="form-group">
              <label> Last Name</label>
              <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
            </div>
  
            <div class="form-group">
              <label> Email Id</label>
              <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
            </div>
            <div class="form-group">
              <label> City</label>
              <input type="text" class="form-control" id="city" [(ngModel)]="employee.city" name="city">
            </div>
            <div class="form-group">
              <label> Salary</label>
              <input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" name="salary">
            </div>
  
            <div class="form-group">
              <label for="department">Select Department:</label>
              <select class="form-control" id="department" [(ngModel)]="employee.department" name="department">
                <option *ngFor="let dept of departments" [ngValue]="dept">{{ dept.deptName}}</option>
              </select>
            </div>
              
           
  
            <!-- Remove the <br /> tag and use CSS for styling -->
            <div style="margin-top: 10px;">
              <button class="btn btn-success" type="submit" [disabled]="employeeForm.invalid">Submit</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </div>
  <footer class="footer">
    <div class="container">
      <span>Project By @nand & $hivam #2023 </span>
    </div>
  </footer>
</body>
  