<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/b.jpg'); background-position: center; background-size: 100% 100%; background-attachment: fixed; ">
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="#">HOSPITAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/admindash">Back</a>
          </li>
          <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-doctor">Add Doctor</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="javascript:void(0);" routerLink="/home">Home</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
  <hr>
  <hr>
  <hr>
<h2 style="color: darkred;text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bold;">Doctors List</h2>
<hr>
    <marquee behavior="scroll" direction="left" style="color: rgb(215, 41, 41); font-size: x-large;font-weight: bold;">
      Welcome to Doctors list page. Click Add Doctors to Add Doctors
    </marquee>
    <hr>
<table class="attractive-table">

    <thead class="table-header">
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Specialization </th>
            <th> Email </th>
            <th> Mobile Number</th>
            <th>Assigned Patients</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctors">
            <td> {{ doctor.firstName }} </td>
            <td> {{ doctor.lastName }} </td>
            <td> {{ doctor.specialization }} </td>
            <td>{{doctor.email}}</td>
            <td>{{doctor.mobileNo}}</td>
            <td>
              <ul *ngIf="doctor.patients && doctor.patients.length > 0">
                <li *ngFor="let patient of doctor.patients">{{ patient.name }}</li>
              </ul>
              <div *ngIf="!doctor.patients || doctor.patients.length === 0">No assigned patients</div>
            </td>
            <td>
                <button (click)="updateDoctor(doctor.did)" class="btn btn-info"> Update </button>
                <button (click)="deleteDoctor(doctor.did)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
        
</table>
</div>
</body>


