<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3 background-color">
        <div class="row">
            <h3 class="text-center" style="color: black; font-style: italic; font-size:30px;"> Create Department </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Department Name</label>
                        <input type="text" class="form-control" id="deptName" [(ngModel)]="department.deptName"
                            name="deptName">
                    </div>

                    <div class="form-group">
                        <label> Number of Employees</label>
                        <input type="text" class="form-control" id="noofemployee" [(ngModel)]="department.noofemployee"
                            name="noofemployee">
                    </div>

                    

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
