<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/w.jpg'); background-position: center; background-size: 100% 100%; background-attachment: fixed; ">
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
        </li>
          </ul>
      
    </div>
  
  </nav>
  <div class="container">
    <div class="col-md-6 offset-md-3">
      <hr>
      <hr>
      <hr>
      <h3>Patient:</h3>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input type="number" class="form-control" id="id" [(ngModel)]="patient.id" name="id" readonly>
        </div>
  
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="patient.name" name="name" readonly>
        </div>
  
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="text" class="form-control" id="age" [(ngModel)]="patient.age" name="age" readonly>
        </div>
  
        <div class="mb-3">
          <label for="blood" class="form-label">Blood Type</label>
          <input type="text" class="form-control" id="blood" [(ngModel)]="patient.blood" name="blood" readonly>
        </div>
  
        <div class="mb-3">
          <label for="fees" class="form-label">Fees</label>
          <input type="text" class="form-control" id="fees" [(ngModel)]="patient.fees" name="fees" readonly>
        </div>
  
        <div class="mb-3">
          <label for="urgency" class="form-label">Urgency</label>
          <input type="text" class="form-control" id="urgency" [(ngModel)]="patient.urgency" name="urgency" readonly>
        </div>
  
        <div class="mb-3">
          <label for="dose" class="form-label">Doses</label>
          <input type="text" class="form-control" id="dose" [(ngModel)]="patient.dose" name="dose">
        </div>
        <div class="mb-3">
          <label for="prescription" class="form-label">Detail Diagnosis and Prescription</label>
          <input type="text" class="form-control" id="prescription" [(ngModel)]="patient.prescription" name="prescription">
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
  