<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; box-sizing: border-box; background-image: url('assets/img.jpg'); background-position: center; background-size: cover; background-attachment: fixed; height: 100vh;">
  <nav class="navbar navbar-expand-sm navbar-dark custom-background">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/welcome" routerLinkActive="active" class="nav-link">Home</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/employees">Employee</a>
        <ul class="sub-menu">
    
          
        </ul>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="/departments">Department</a>
        <ul class="sub-menu">
         
         
        </ul>
      </li>
  
      <li class="nav-item">
        <!-- Updated this line to make it consistent with other items -->
        <a class="nav-link" href="/leave-list">Leave</a>
        <ul class="sub-menu">
         
        </ul>
      </li>
  
  
    <li class="nav-item">
      <!-- Updated this line to make it consistent with other items -->
      <a class="nav-link" href="/project-list">Project</a>
      <ul class="sub-menu">
        
      </ul>
    </li>
    <li class="nav-item">
      <a routerLink="/admin-logout" routerLinkActive="active" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>
<div>
  <!-- Your other content here -->

</div>
<div class="centered-content">
    <h1 class="text-center" style="color: red; font-weight: bolder; font-size: 50px;">Welcome to the Employee Project</h1>
  </div>
  <footer class="footer">
    <div class="container">
      <span>Project By @nand & $hivam #2023 </span>
    </div>
  </footer>
</body>